#ubicast_content .d-flex > .form-control {
    border: 1px solid #8f959e;
    border-radius: .5rem;
    padding: .375rem .75rem;
}

#ubicast_content fieldset {
    overflow: auto!important;
    padding: 20px!important;
    max-height: 70vh!important;
}
